/code/bin
/code/obj
/test/DatastructuresTest/bin
/test/DatastructuresTest/obj
/test/SerialPortStreamTest/bin
/test/SerialPortStreamTest/obj
/packages/NUnit.2.6.4
/packages/Mono.Posix.4.0.0.0
/.vs
*.suo
*.user
*.userprefs
*.GhostDoc.xml
