/code/bin
/code/obj
/distribute
/test/DatastructuresTest/bin
/test/DatastructuresTest/obj
/test/SerialPortStreamTest/bin
/test/SerialPortStreamTest/obj
/packages/NUnit.2.6.4
/packages/Mono.Posix.4.0.0.0
/netstandard/obj
/netstandard/bin
**/project.lock.json
/.vs
*.nupkg
*.suo
*.user
*.userprefs
*.GhostDoc.xml
.DS_Store