<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Win32SourcePort" value="CNCA0"/>
    <add key="Win32DestPort" value="CNCB0"/>
    <add key="LinuxSourcePort" value="/dev/ttyUSB0"/>
    <add key="LinuxDestPort" value="/dev/ttyUSB1"/>
  </appSettings>
  
  <system.diagnostics>
    <trace autoflush="false" indentsize="4"/>

    <sources>
      <source name="IO.Ports.SerialPortStream" switchValue="Verbose">
        <listeners>
          <add name="consoleListener"/>
          <remove name="Default"/>
        </listeners>
      </source>

      <source name="IO.Ports.SerialPortStream_ReadTo" switchValue="Verbose">
        <listeners>
          <add name="consoleListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
      <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="xmlListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "c:\logs\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>